* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #ec008c;
    background: -webkit-linear-gradient(to left, #fc6767, #ec008c);
    background: linear-gradient(to left, #fc6767, #ec008c);
    color: #ffffff;


}

::-webkit-scrollbar {
    display: none;
}

p {
    text-align: center;
    font-size: 300%;
    font-family: Papyrus, fantasy;
    border: 0.3rem inset #ffff00;
}

.temp {
    width: 33.33%;
    display: inline-block;
    border: 10px solid transparent;
}

.temp .image {
    width: 100%;
    height: 21.875rem;
}

.App p {
    color: #ffffff;
}

.meme {
    text-align: center;
}

.meme img {
    height: 31.25rem;
    width: auto;
    margin-top: 3.125rem;
    border: 1px solid #000000;
}

.meme input {
    padding: 8px;
    margin: 5px;
    border-radius: 9px;
    background: rgba(34, 34, 34, 0.274);
    color: #ffffff;
    border: none;
    outline: none;
    box-shadow: 0px 8px 15px rgba(88, 88, 88, 0.315);

}

::placeholder{
    color: #ffffff;
}

.meme button {
    background-color: #ffffff;
    padding: .7rem;
    border: none;
    outline: none;
    border-radius: 20px;
    box-shadow: -5px -3px 16px rgb(88 88 88 / 32%);
    margin: 0.5rem 1.5rem;
}

@media screen and (max-width: 600px) {

    .temp {
        width: 100%;
        display: block;
        border: 10px solid transparent;
    }

    .meme {
        text-align: center;
    }

    .meme img {
        height: auto;
        width: 100%;
        margin-top: 3.125rem;
        border: 1px dashed #000000;
    }

    .meme input {
        padding: 5px;
        margin: 2%;
        border-radius: 9px;
        background-color: rgba(58, 58, 58, 0.363);
    }

    .meme button {
        background-color: #ffffff;
        padding: 0.3rem;
        margin: 0.5rem;
    }
}