*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: tomato;
}

p{
    text-align: center;
    font-size: 300%;
    font-family: Papyrus, fantasy;
    border: 0.3rem inset yellow;
}

.temp{
    width: 33.33%;
    display: inline-block;
    border: 10px solid transparent;
}

.temp .image{
    width: 100%;
    height: 21.875rem;
}

.meme{
    text-align: center;
}
.meme img{
    height: 31.25rem;
    width: auto;
    margin-top: 3.125rem; 
    border: 1px solid black;
}

.meme input{
    padding: 5px;
    margin: 5px;
    background-color: white;
}
.meme button{
    background-color: white;
    padding: 0.3rem;
    margin: 0.5rem;
}

@media screen and (max-width: 600px) {
    .temp{
        width: 100%;
        display: block;
        border: 10px solid transparent;
    }
    .meme{
        text-align: center;
    }
    .meme img{
        height: auto;
        width: 100%;
        margin-top: 3.125rem; 
        border: 1px dashed black;
    }
    
    .meme input{
        padding: 5px;
        margin: 2%;
        background-color: white;
    }
    .meme button{
        background-color: white;
        padding: 0.3rem;
        margin: 0.5rem;
    }
}